.main {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

button {
    width: 100px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    color: #E5E7EB;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #2b579c
}

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.banner-text {
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    opacity: 70%;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    font-family: sans-serif;
    opacity: 70%;
}

.links:hover {
    opacity: 100%;
}

.header {
    display: flex;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    font-family: sans-serif;
}

.banner {
    display: flex;
    gap: 40px;
    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 100px;
    padding-right: 200px;
    background-color: #1F2937;
    height: 250px;
    width: auto;
}

.banner-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #878c97;
    flex: 1;
}

.image-text {
    color: #E5E7EB;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px;
}

.images-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-block {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
}

.placeholder {
    border: 3px solid #3882F6;
    border-radius: 10px;
    padding: 60px;
}

.caption {
    display: flex;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    font-size: 18px;
    color:#1F2937;
    opacity: 70%;
}

.images-header {
    padding-top: 100px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
}

.quote {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.quoter {
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #1F2937;
}

.text-section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
    background-color:#E5E7EB;
}